header {
    margin-bottom: 20px;
    font-size: larger;
}

.header img {
    height: 10%;
    width: 10%;
}

.colmar {
    color: black;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
}

.academy {
    color: grey;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
}

.campus {
    font-size: larger;    
    text-align: right;
    font-weight: bold;
    margin-left: 50%;
    margin-right: 16px;
    margin-bottom: 20px;
}

.online {
    font-size: larger;    
    text-align: right;
    font-weight: bold;
    margin-right: 16px;
    margin-bottom: 20px;
}


.companies {
    font-size: larger;    
    text-align: right;
    font-weight: bold;
    margin-right: 16px;
    margin-bottom: 20px;
}


.sign {
    font-size: larger;    
    text-align: right;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner {
    background-color: lightgrey;
    height: 1000px;
    width: 2000px;
}

.learn {
    font-weight: bolder;
    display: inline-flex;
    flex-direction: column;
    float: right;
    color: darkslategray;
    margin-right: 30px;
    margin-top: 70px;
    font-size: 60px;
    flex-wrap: wrap;
    margin-right: 200px;
}

.new {
    font-weight: bolder;
    display: inline-flex;
    flex-direction: column;
    float: right;
    color: darkslategray;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 60px;
    flex-wrap: wrap;
    margin-right: 250px;
    margin-bottom: 50px;
}

.banner img {
    width: 60%;
    display: inline-flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-right: 15px;
    flex-wrap: wrap;
    float: left;
}

.lorem {
    color: darkslategray;
    display: inline-flex;
    flex-direction: column;
    font-size: 40px;
    flex-wrap: wrap;
    margin-left: 100px;
    font-weight: bold;
}

.elit {
    color: darkslategray;
    display: inline-flex;
    flex-direction: column;
    font-size: 40px;
    flex-wrap: wrap;
    margin-left: 100px;
    font-weight: bold;
}

.start {
    color: white;
    display: inline-flex;
    flex-direction: column;
    font-size: 30px;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: 70px;
    background-color: darkslategray;
    width: 300px;
    height: 70px;
    text-align: center;
    padding-top: 30px;
}

.banner2 img {
    display: inline-flex;
    margin-top: 70px;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
}

.practice {
    display: inline-flex;
    color: darkslategray;
    float: left;
    margin-top: 80px;
    margin-right: 500px;
    margin-left: 80px;
    height: 70px;
    width: 1000px;
    font-size: 70px;
}

.curabitur {
    display: inline-flex;
    color: darkslategray;
    float: left;
    margin-top: 40px;
    margin-right: 500px;
    margin-left: 100px;
    height: 70px;
    width: 1000px;
    font-size: 35px;
} 

.orientation img {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-top: 70px;
    border-left: 6px black;
}

.orihead {
    display: inline-flex;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    position: relative;
    bottom: 700px;
    right: 100px;
    font-weight: bolder;
    font-size: 40px;
    color: darkslategray;
}

.date {
    display: inline-flex;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    position: relative;
    bottom: 700px;
    margin-top: 10px;
    right: 100px;
}

.read {
    display: inline-flex;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    color: blue;
    position: relative;
    bottom: 700px;
    right: 200px;
    margin-top: 10px;
}

.ourcampus img{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;
}

.our {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-weight: bolder;
    font-size: 40px;
    color: darkslategray;
    bottom: 135px;
    left: 100px;
}

.find {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 20px;
    bottom: 125px;
    right: 70px;
}

.read2 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    color: blue;
    left: 15px;
    bottom: 110px;
}

.ourguest img {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;
    bottom: 330px;
    right: 435px;
}

.guest {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-weight: bolder;
    font-size: 40px;
    color: darkslategray;
    left: 1520px;
    bottom: 510px;
}

.join {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 1230px;
    bottom: 470px;
}

.about {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 970px;
    bottom: 445px;
}

.read3 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    color: blue;
    left: 775px;
    bottom: 410px;
}

.emanuel {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-size: 20px;
    right: 800px;
    font-style: italic;
    bottom: 50px;
}

.column {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    background-color: lightgray;
    text-align: center;
    width: 2000px;
    height: 1500px;
}

.column h1 {
    font-size: 70px;
    color: darkslategray;
    font-weight: bold;
    position: relative;
    left: 620px;
}

.software {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    left: 100px;
}

.whitebox {
    position: relative;
    background-color: white;
    width: 500px;
    height: 250px;
    left: 100px;
}

.engineer {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    bottom: 230px;
    left: 20px;
}

.courses {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    bottom: 180px;
    color: gray;
    font-size: 25px;
    right: 90px;
}

.web {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    color: gray;
    left: 120px;
    bottom: 150px;
    font-size: 25px;
    width: 400px;
}

.phonepic {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    left: 700px;
    bottom: 888px;
}


.whitebox2 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    left: 700px;
    bottom: 388px;
}

.compart {
    
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    left: 570px;
    bottom: 870px;
}

.courses2 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    left: 510px;
    bottom: 830px;
}

.imaging {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    left: 750px;
    bottom: 810px;
}

.designimg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    left: 630px;
    top: 170px;
}

.whitebox3 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    top: 170px;
    left: 630px;
}

.design {
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    bottom: 55px;
    left: 450px;
}

.courses3 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    bottom: 15px;
    left: 450px;
}

.user {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    top: 10px;
    left: 670px;
}


.dataimg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    top: 200px;
    right: 565px;
}

.whitebox4 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    right: 565px;
    top: 200px;
}

.data {
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    right: 790px;
    bottom: 30px;
}

.courses4 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    right: 770px;
}

.science {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    right: 520px;
    top: 30px;
}

.businessimg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    top: 835px;
    right: 635px;
}

.whitebox5 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    top: 835px;
    right: 635px;
}

.business {
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    top: 610px;
    right: 810px;
}

.courses5 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    top: 640px;
    right: 825px;
}

.product {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    right: 590px;
    top: 666px;
} 

.marketingimg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    top: 200px;
    right: 50px;
}

.whitebox6 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    top: 200px;
    right: 50px;
}

.marketing {
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    right: 230px;
    bottom: 30px;
}

.courses6 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    right: 250px;
    top: 5px;
}

.analytics {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    top: 30px;
}