header {
    margin-bottom: 20px;
    font-size: larger;
}

.header img {
    height: 10%;
    width: 10%;
}

.colmar {
    color: black;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
}

.academy {
    color: grey;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
}

.campus {
    font-size: larger;    
    text-align: right;
    font-weight: bold;
    margin-left: 50%;
    margin-right: 16px;
    margin-bottom: 20px;
}

.online {
    font-size: larger;    
    text-align: right;
    font-weight: bold;
    margin-right: 16px;
    margin-bottom: 20px;
}


.companies {
    font-size: larger;    
    text-align: right;
    font-weight: bold;
    margin-right: 16px;
    margin-bottom: 20px;
}


.sign {
    font-size: larger;    
    text-align: right;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner {
    background-color: lightgrey;
    height: 1000px;
    width: 2000px;
}

.learn {
    font-weight: bolder;
    display: inline-flex;
    flex-direction: column;
    float: right;
    color: darkslategray;
    margin-right: 30px;
    margin-top: 70px;
    font-size: 60px;
    flex-wrap: wrap;
    margin-right: 200px;
}

.new {
    font-weight: bolder;
    display: inline-flex;
    flex-direction: column;
    float: right;
    color: darkslategray;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 60px;
    flex-wrap: wrap;
    margin-right: 250px;
    margin-bottom: 50px;
}

.banner img {
    width: 60%;
    display: inline-flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-right: 15px;
    flex-wrap: wrap;
    float: left;
}

.lorem {
    color: darkslategray;
    display: inline-flex;
    flex-direction: column;
    font-size: 40px;
    flex-wrap: wrap;
    margin-left: 100px;
    font-weight: bold;
}

.elit {
    color: darkslategray;
    display: inline-flex;
    flex-direction: column;
    font-size: 40px;
    flex-wrap: wrap;
    margin-left: 100px;
    font-weight: bold;
}

.start {
    color: white;
    display: inline-flex;
    flex-direction: column;
    font-size: 30px;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: 70px;
    background-color: darkslategray;
    width: 300px;
    height: 70px;
    text-align: center;
    padding-top: 30px;
}

.banner2 img {
    display: inline-flex;
    margin-top: 70px;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
}

.practice {
    display: inline-flex;
    color: darkslategray;
    float: left;
    margin-top: 80px;
    margin-right: 500px;
    margin-left: 80px;
    height: 70px;
    width: 1000px;
    font-size: 70px;
}

.curabitur {
    display: inline-flex;
    color: darkslategray;
    float: left;
    margin-top: 40px;
    margin-right: 500px;
    margin-left: 100px;
    height: 70px;
    width: 1000px;
    font-size: 35px;
} 

.orientation img {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-top: 70px;
    border-left: 6px black;
}

.orihead {
    display: inline-flex;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    position: relative;
    bottom: 700px;
    right: 100px;
    font-weight: bolder;
    font-size: 40px;
    color: darkslategray;
}

.date {
    display: inline-flex;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    position: relative;
    bottom: 700px;
    margin-top: 10px;
    right: 100px;
}

.read {
    display: inline-flex;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    color: blue;
    position: relative;
    bottom: 700px;
    right: 200px;
    margin-top: 10px;
}

.ourcampus img{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;
}

.our {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-weight: bolder;
    font-size: 40px;
    color: darkslategray;
    bottom: 135px;
    left: 100px;
}

.find {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 20px;
    bottom: 125px;
    right: 70px;
}

.read2 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    color: blue;
    left: 15px;
    bottom: 110px;
}

.ourguest img {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;
    bottom: 330px;
    right: 435px;
}

.guest {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-weight: bolder;
    font-size: 40px;
    color: darkslategray;
    left: 1520px;
    bottom: 510px;
}

.join {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 1230px;
    bottom: 470px;
}

.about {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 970px;
    bottom: 445px;
}

.read3 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    color: blue;
    left: 775px;
    bottom: 410px;
}

.emanuel {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-size: 20px;
    right: 800px;
    font-style: italic;
    bottom: 50px;
}

.column {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    background-color: lightgray;
    text-align: center;
    width: 2000px;
    height: 1500px;
}

.column h1 {
    font-size: 70px;
    color: darkslategray;
    font-weight: bold;
    position: relative;
    left: 620px;
}

.software {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    left: 100px;
}

.whitebox {
    position: relative;
    background-color: white;
    width: 500px;
    height: 250px;
    left: 100px;
}

.engineer {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    bottom: 230px;
    left: 20px;
}

.courses {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    bottom: 180px;
    color: gray;
    font-size: 25px;
    right: 90px;
}

.web {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    color: gray;
    left: 120px;
    bottom: 150px;
    font-size: 25px;
    width: 400px;
}

.phonepic {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    left: 700px;
    bottom: 888px;
}


.whitebox2 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    left: 700px;
    bottom: 388px;
}

.compart {
    
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    left: 570px;
    bottom: 870px;
}

.courses2 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    left: 510px;
    bottom: 830px;
}

.imaging {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    left: 750px;
    bottom: 810px;
}

.designimg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    left: 630px;
    top: 170px;
}

.whitebox3 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    top: 170px;
    left: 630px;
}

.design {
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    bottom: 55px;
    left: 450px;
}

.courses3 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    bottom: 15px;
    left: 450px;
}

.user {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    top: 10px;
    left: 670px;
}


.dataimg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    top: 200px;
    right: 565px;
}

.whitebox4 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    right: 565px;
    top: 200px;
}

.data {
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    right: 790px;
    bottom: 30px;
}

.courses4 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    right: 770px;
}

.science {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    right: 520px;
    top: 30px;
}

.businessimg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    top: 835px;
    right: 635px;
}

.whitebox5 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    top: 835px;
    right: 635px;
}

.business {
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    top: 610px;
    right: 810px;
}

.courses5 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    top: 640px;
    right: 825px;
}

.product {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    right: 590px;
    top: 666px;
} 

.marketingimg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
    height: 250px;
    top: 200px;
    right: 50px;
}

.whitebox6 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    width: 500px;
    height: 250px;
    background-color: white;
    top: 200px;
    right: 50px;
}

.marketing {
    position: relative;
    color: darkslategray;
    font-weight: bold;
    font-size: 45px;
    right: 230px;
    bottom: 30px;
}

.courses6 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    color: gray;
    font-size: 25px;
    right: 250px;
    top: 5px;
}

.analytics {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    font-size: 25px;
    width: 400px;
    color: gray;
    top: 30px;
}


.exhibit {
    font-size: 70px;
    color: darkslategray;
    font-weight: bold;
    position: relative;
    left: 740px;
    top: 20px;
}

.video {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 800px;
    width: 1000px;
}

.reimagine {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-size: 45px;
    color: darkslategray;
    font-weight: bold;
    top: 80px;
    right: 1000px;
}

.thesis p {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 70px;
    width: 1000px;
    font-size: 35px;
    color: darkslategray;
    bottom: 100px;
}

.fismaimg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 50px;
    bottom: 695px;
}

.fisma {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-weight: bolder;
    font-size: 40px;
    color: darkslategray;
    bottom: 900px;
    left: 80px;
}

.prototype {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-weight: bolder;
    font-size: 40px;
    color: darkslategray;
    bottom: 850px;
    right: 240px;
}

.showcase {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    bottom: 1150px;
    left: 1370px;
    font-size: 20px;
    color: darkslategray;
}

.protoprod {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    bottom: 1120px;
    left: 1150px;
    font-size: 20px;
    color: darkslategray;
}

.thesisnow {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 690px;
    bottom: 700px;
}

.now {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-weight: bolder;
    font-size: 40px;
    color: darkslategray;
    left: 730px;
    bottom: 900px;
}

.research {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-size: 20px;
    color: darkslategray;
    left: 485px;
    bottom: 855px;
}

.copy {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    right: 1150px;
    bottom: 180px;
}

.terms {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-size: 20px;
    color: darkslategray;
    bottom: 170px;
}

.privacy {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-size: 20px;
    color: darkslategray;
    bottom: 170px;
    left: 20px;
}

.mobview {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-weight: bold;
    font-size: 40px;
    color: blue;
    right: 900px;
}

.mobicon {
    display: none;
}

.mobicon2 {
    display: none;
}

.mobicon3 {
    display: none;
}

.mobicon4 {
    display: none;
}

.hidden {
    display: none;
}

@media only screen and (max-width:1000px) {
    .campus {
        display: none;
    }
    .mobicon {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: relative;
        left: 30px;
        top: 30px;
    }
}

@media only screen and (max-width:1000px) {
    .online {
        display: none;
    }
    .mobicon2 {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: relative;
        left: 50px;
        top: 30px;
    }
}

@media only screen and (max-width:1000px) {
    .companies {
        display: none;
    }
    .mobicon3 {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: relative;
        left: 70px;
        top: 30px;
    }
}

@media only screen and (max-width:1000px) {
    .sign {
        display: none;
    }
    .mobicon4 {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: relative;
        left: 90px;
        top: 30px;
    }
}

@media only screen and (max-width:1000px) {
    .colmar, .academy, .headicon {
        display: none;
    }
}

@media only screen and (max-width:1000px) {
    .banner {
        max-width: 600px;
        max-height: 600px;
        background-color: white;
    }
}

@media only screen and (max-width:1000px) {
    .learn {
        float: left;
        background-color: grey;
        position: relative;
        max-width: 620px;
        min-height: 400px;
        bottom: 100px;
        font-size: 45px;
        left: 25px;
        width: 360px;
    }
}

@media only screen and (max-width:1000px) {
    .new {
        float: left;
        position: relative;   
        font-size: 45px;
        bottom: 470px;
        left: 30px;
    }
}

@media only screen and (max-width:1000px) {
    .lorem {
        position: relative;   
        font-size: 25px;
        bottom: 480px;
        right: 40px;
    }
}

@media only screen and (max-width:1000px) {
    .elit {
        position: relative;   
        font-size: 25px; 
        bottom: 470px;
        right: 30px;
    }
}


@media only screen and (max-width:1000px) {
    .start {
        position: relative;
        bottom: 500px;
        right: 145px;
    }
}

@media only screen and (max-width:1000px) {
    .column, .banner2 img, .practice, .curabitur, .emanuel, .reimagine,
     .fismaimg, .fisma, .prototype, .showcase, .protoprod, .thesisnow,
     .now, .research, .privacy, .mobview, .whitebox, .whitebox2, .whitebox3,
     .whitebox4, .whitebox5, .whitebox6, .courses, .courses2, .courses3, .courses4
     , .courses5, .courses6, .web, .imaging, .user, .science, .product, .analytics,
     .software, .phonepic, .designimg, .dataimg, .businessimg, .marketingimg, .thesis p,
     .terms {
        display: none;
    }
}

@media only screen and (max-width:1000px) {
    .orientation img {
        display: block;
        position: relative;
        bottom: 130px;
        left: 70px;
        margin: 0px;
        border: none;
    }
}

@media only screen and (max-width:1000px) {
    .orihead {
        display: block;
        position: relative;
        bottom: 80px;
        right: 115px;
        margin: 0px;
    }
}

@media only screen and (max-width:1000px) {
    .date {
        display: block;
        position: relative;
        margin: 0%;
        left: 140px;
        float: none;
        top: 1px;
    }
}

@media only screen and (max-width:1000px) {
    .read {
        display: inline-block;
        position: relative;
        float: none;
        left: 160px;
        top: 30px;
    }
}

@media only screen and (max-width:1000px) {
    .ourcampus img {
        display: inline-block;
        position: relative;
        margin: 0%;
        float: none;
        top: 130px;
        left: 70px;
    }
}

@media only screen and (max-width:1000px) {
    .our {
        display: inline-block;
        position: relative;
        float: none;
        margin: 0%;
        top: 170px;
    }
}

@media only screen and (max-width:1000px) {
    .find {
        display: inline-block;
        position: relative;
        float: none;
        margin: 0%;
        margin-bottom: 0%;
        top: 200px;
        right: 15px;
    }
}

@media only screen and (max-width:1000px) {
    .read2 {
        display: inline-block;
        position: relative;
        float: left;
        margin: 0%;
        top: 260px;
        left: 150px;
    }
}

@media only screen and (max-width:1000px) {
    .ourguest img {
        display: inline-block;
        position: relative;
        float: none;
        margin: 0%;
        left: 80px;
        top: 330px;
    }
}

@media only screen and (max-width:1000px) {
    .video {
        position: relative;
        width: 480px;
        margin-top: 0%;
        top: 1000px;
    }
}

@media only screen and (max-width:1000px) {
    .guest {
        display: block;
        position: relative;
        top: 370px;
        left: 75px;
    }
}

@media only screen and (max-width:1000px) {
    .join, .about {
        display: block;
        position: relative;
        top: 400px;
        left: 90px;
    }
}

@media only screen and (max-width:1000px) {
    .read3 {
        display: block;
        position: relative;
        top: 430px;
        left: 170px; 
    }
}


@media only screen and (max-width:1000px) {
    .hidden {
        display: block;
        position: relative;
        
    }
}

@media only screen and (max-width:1000px) {
    .hideLearn {
        display: block;
        color: white;
        font-size: 40px;
        position: relative;
        background-color: gray;
        bottom: 400px;
        height: 50px;
    }
}

@media only screen and (max-width:1000px) {
    .hideComp {
        display: block;
        position: relative;
        color: white;
        background-color: grey;
        font-size: 40px;
        bottom: 360px;
    }
}